<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/custom.css" %}" />
    
    <title>{% block title %}James' Blog{% endblock %}</title>
</head>

<body>

    <div class="container">
      <div class="header">

	<div class="btn-group btn-large pull-right">
	  {% if logged_in %}
	  <a class="btn btn-default" href="{{ url }}">Sign Out</a>
	  <a class="btn btn-primary" href="{% url new-post %}">New Post</a>
	  {% else %}
	  <a class="btn btn-primary" href="{{ url }}">Sign In</a>
	  {% endif %} 
	</div>
      <h3><a href="{% url list-posts %}">James' Blog</a>
      {% if logged_in %}
      <small>Welcome, {{ username }}</small>
      {% endif %}
      </h3>
      </div>

      <div id="actionbar">
	{% block actions %}{% endblock %}
      </div>

      <div id="content">
        {% block content %}{% endblock %}
      </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static "/js/bootstrap.min.js" %}"></script>
</body>
</html>

