{% extends "base.html" %}

{% block content %}
<p>
<h1>{{ object.title }} <small>{{ object.date }}</small></h1>
</p>
<p>
{{ object.content }}
</p>


<div class="panel panel-default">
  <div class="panel-heading">comments</div>
  <ul class="list-group">
    {% for comment in object.comments %}
    <li class="list-group-item">
      <small>{{ comment.date }}</small>
      <div class="btn-group pull-right">
	{% if logged_in %}
	{% if comment.author == user_id %}
	<a class="btn btn-warning" href="{% url edit-comment comment.key %}">edit</a>
	{% endif %}
	{% if comment.author == user_id or object.author == user_id %}
	<a class="btn btn-danger" href="{% url delete-comment comment.key %}">delete</a>
	{% endif %}
	{% endif %}
      </div>
      <br>
      {{ comment.content }}
    </li>
    {% empty %}
    <li class="list-group-item">
      No comments yet...
    </li>
    {% endfor %}
  </ul>

  {% if logged_in %}
  <div class="panel-body">
    <h3>Post a comment</h3>
    {% include "blogpost_comment.html" %}
  </div>
  {% endif %}

{% endblock %}

{% block actions %}
<div class="btn-toolbar" role="toolbar">
  <div class="btn-group">
    <a class="btn btn-default" href="{% url list-posts %}">Back</a>
  </div>
  {% if logged_in and object.author == user_id %}
  <div class="btn-group pull-right">
    <a class="btn btn-warning" href="{% url edit-post object.key %}">Edit Post</a>
    <a class="btn btn-danger" href="{% url delete-post object.key %}">Delete Post</a>
  </div>
  {% endif %}
</div>
{% endblock %}
