{% extends "base.html" %}

{% block content %}

<a href="{% url list-posts %}">back</a>

<h1>{{ object.title }}</h1>
<small>{{ object.date }}</small>
<p>
{{ object.content }}
</p>

<h2>comments</h2>
{% for comment in object.comments %}
<p>
<small>{{ comment.date }}</small>
{% if logged_in %}
{% if comment.author == user_id or object.author == user_id %}
<a href="{% url delete-comment comment.key %}">delete</a>
{% endif %}
{% if comment.author == user_id %}
<a href="{% url edit-comment comment.key %}">edit</a>
{% endif %}
{% endif %}
<p>
</p>
{{ comment.content }}
</p>
{% empty %}
<p>
No comments yet...
</p>
{% endfor %}


{% if logged_in %}
<h3>Post a comment</h3>
{% include "blogpost_comment.html" %}
{% endif %}

{% if logged_in and object.author == user_id %}
<h2>actions</h2>
<p>
<ul>
<li><a href="{% url delete-post object.key %}">delete</a></li>
<li><a href="{% url edit-post object.key %}">edit</a></li>
</ul>
</p>
{% endif %}
{% endblock %}
